body,
html{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}   


/* BARRA DE BUSQUEDA */

header {
  /* border: 1px solid red; */
  height: 152px;
  background-color:  #ff3b3c;
}


.search{
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 10px;
}

.search .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  
}

.search .form input {
  height: 62px;
  border-radius: 14px;
  border: none;
  width: 310px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.search .social ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.search .social ul li {
  padding: 0 10px;
}

/* NAVBAR */

.nav {
  padding: 10px 0;
}
.nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 2em;
}
.nav ul li a {
  color: white;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
.nav ul li a:hover {
  text-decoration: underline;
}



/* BANNER */

section {
  /* border: 1px solid purple; */
  height: 340px;
}

#hero{
  background: url(assets/hero_bg.png);
  background-size: cover;
  background-position: top center;
}

#hero .container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-container span{
  display: block;  
  line-height: normal;
  color: white;
}

.title-container span:first-child{
  font-size: 50px;
  font-weight: 600;
}

.title-container span:last-child{
  font-size: 100px;
  font-weight: 700;
}



/* MAIN */

main {
  /* border: 1px solid blue; */
  height: auto;
}

main .container{
  padding: 2.5em;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  /* border: 1px solid springgreen; */
  height: inherit;
  min-height: inherit;
}

.product-container{  
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  grid-gap: 20px;
  justify-content: center;
  
}

.product-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  background-color: white;
  padding-bottom: 12px;
}

.product-price-block{
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}


/* CARDS */

.product-card{
    background-color: #f0f0f0;
    border-radius: 14px;
    width: auto;
    overflow: hidden;
}

.product-info{
    padding: 20px;
    box-sizing: border-box;
}

.product-title{
    font-size: 25px;
    font-weight: 600;
    word-wrap: break-word;
    display: block;
    line-height: 22px;
    margin-bottom: 10px;
    color: rgb(54, 54, 54);
}

.product-description{
    font-size: 15px;
    font-weight: 500;
    color: rgb(61, 58, 58);
}

.product-tax-policy{
    font-size: 12px;
    font-weight: 300;
    color: gray;
}

.product-price-block .price{
    font-size: 22px;
    font-weight: 700;
    flex: 1;
    margin-top: 5px;
}

.product-price-block .discount{
    font-size: 12px;
    font-weight: 800;
    color: #428f13;
}


/* FOOTER */

footer {
  /* border: 1px solid #009145; */
  min-height: 250px;
  background-color: #7525A7;
}

footer .container{
  display: flex;
  flex-direction: column;
}
.columns-container{
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.columns-container .col ul{
  padding: 0;
  list-style-type: none;
}

.columns-container .col ul li {
  padding: 5px 0;
}

.columns-container .col ul li.col-main-item {
  font-weight: bold;
  padding-bottom: 20px;
}

.columns-container .col ul li a {
  color: white;
  text-decoration: none;
}

.copyright {
  border-top: 1px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
}



/* RESPONSIVE */

@media (max-width: 768px){
  .product-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .product-img{
    height: auto;
  }
}
 
@media (max-width: 425px){
  .product-container{
    grid-template-columns: 1fr;
  }
  .product-img{
    height: auto;
  }  
} 
















/* https://www.youtube.com/watch?v=okumzdhTId0 */